@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MediCare2._0.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrapmedic.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/owl.carousel.min.css" rel="stylesheet">

    <link href="css/owl.theme.default.min.css" rel="stylesheet">

    <link href="css/templatemo-medic-care.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/insbootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
</head>


<div _ngcontent-ici-c17="" class="row">
    <div _ngcontent-ici-c17="" class="col p-3 shadow-sm border rounded mb-2 bg-white">
        <h1 _ngcontent-ici-c17="">
            <strong _ngcontent-ici-c17="">About</strong>
            </h1>
                    
                    <p _ngcontent-ici-c17=""> Medi-Care was developed by a trio of final year Bachelor of Information Technology students at the Nelson Mandela University, for their capstone ITPV302 project under the supervision of Prof. Bertram Haskins. </p>

        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="/images/gallery/sesh.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Seshiran Govender</h5>
                        <span>Passionate about Sea Rescue</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="/images/gallery/ajs.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Ayanda-Junior Sonamzi</h5>
                        <span>Aspiring Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="/images/gallery/ike.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Ike Nkuna</h5>
                        <span>Tech Enthusiast</span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<script src="runtime.7b63b9fd40098a2e8207.js" defer="">

</script>

<script src="polyfills.00096ed7d93ed26ee6df.js" defer="">

</script>

<script src="scripts.5bbfa5c85a68fdb76a76.js" defer="">

</script>

<script src="main.658bd3dfc431b5a71c2d.js" defer="">

</script>
