@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MediCare2._0.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrapmedic.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/owl.carousel.min.css" rel="stylesheet">

    <link href="css/owl.theme.default.min.css" rel="stylesheet">

    <link href="css/templatemo-medic-care.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/insbootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<div _ngcontent-ici-c17="" class="row"><div _ngcontent-ici-c17="" class="col p-3 shadow-sm border rounded mb-2 bg-white"><h1 _ngcontent-ici-c17=""><strong _ngcontent-ici-c17="">Disclaimer Notice</strong></h1><hr _ngcontent-ici-c17=""><h3 _ngcontent-ici-c17="" class="mb-4"><strong _ngcontent-ici-c17="">Consumer Protection Act, Part D</strong></h3><h5 _ngcontent-ici-c17=""><strong _ngcontent-ici-c17="">22. Right to information in plain and understandable language</strong></h5><p _ngcontent-ici-c17=""> 22. (1) The producer of a notice, document or visual representation that is required, in terms of this Act or any other law, to be produced, provided or displayed to a consumer must produce, provide or display that notice, document or visual representation— (a) in the form prescribed in terms of this Act or any other legislation, if any, for that notice, document or visual representation; or (b) in plain language, if no form has been prescribed for that notice, document or visual representation. </p><p _ngcontent-ici-c17=""> (2) For the purposes of this Act, a notice, document or visual representation is in plain language if it is reasonable to conclude that an ordinary consumer of the class of persons for whom the notice, document or visual representation is intended, with average literacy skills and minimal experience as a consumer of the relevant goods or services, could be expected to understand the content, significance and import of the notice, document or visual representation without undue effort, having regard to— (a) the context, comprehensiveness and consistency of the notice, document or visual representation; (b) the organisation, form and style of the notice, document or visual representation; (c) the vocabulary, usage and sentence structure of the notice, document or visual representation; and (d) the use of any illustrations, examples, headings or other aids to reading and understanding. </p><h3 _ngcontent-ici-c17="" class="mb-4"><strong _ngcontent-ici-c17="">Consumer Protection Act, Part G</strong></h3><h5 _ngcontent-ici-c17=""><strong _ngcontent-ici-c17="">Right to fair, just and reasonable terms and conditions</strong></h5><p _ngcontent-ici-c17=""> 49. Notice required for certain terms and conditions (1) Any notice to consumers or provision of a consumer agreement that purports to— (a) limit in any way the risk or liability of the supplier or any other person; (b) constitute an assumption of risk or liability by the consumer; (c) impose an obligation on the consumer to indemnify the supplier or any other person for any cause; or (d) be an acknowledgement of any fact by the consumer, must be drawn to the attention of the consumer in a manner and form that satisfies the formal requirements of subsections (3) to (5). (2) In addition to subsection (1), if a provision or notice concerns any activity or facility that is subject to any risk— (a) of an unusual character or nature; (b) the presence of which the consumer could not reasonably be expected to be aware or notice, or which an ordinarily alert consumer could not reasonably be expected to notice or contemplate in the circumstances; or (c) that could result in serious injury or death, the supplier must specifically draw the fact, nature and potential effect of that risk to the attention of the consumer in a manner and form that satisfies the requirements of subsections (3) to (5), and the consumer must have assented to that provision or notice by signing or initialling the provision or otherwise acting in a manner consistent with acknowledgement of the notice, awareness of the risk and acceptance of the provision. (3) A provision, condition or notice contemplated in subsection (1) or (2) must be written in plain language, as described in section 22. (4) The fact, nature and effect of the provision or notice contemplated in subsection (1) must be drawn to the attention of the consumer— (a) in a conspicuous manner and form that is likely to attract the attention of an ordinarily alert consumer, having regard to the circumstances; and (b) before the earlier of the time at which the consumer— (i) enters into the transaction or agreement, begins to engage in the activity, or enters or gains access to the facility; or (ii) is required or expected to offer consideration for the transaction or agreement. (5) The consumer must be given an adequate opportunity in the circumstances to receive and comprehend the provision or notice as contemplated in subsection (1). </p></div></div>
<script src="runtime.7b63b9fd40098a2e8207.js" defer=""></script><script src="polyfills.00096ed7d93ed26ee6df.js" defer=""></script><script src="scripts.5bbfa5c85a68fdb76a76.js" defer=""></script><script src="main.658bd3dfc431b5a71c2d.js" defer=""></script>
